* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

body {
  background-color: #79a3a5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  background-color: #689597;
  height: min-content;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px -2px black;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container .outputField div {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  margin-bottom: 12px;
}

.container input {
  border-radius: 4px;
  border: none;
  outline: none;
  padding-inline: 10px;
}

.container span {
  display: block;
  width: 90px;
  font-weight: 600;
  font-size: 17px;
}

.inputField input {
  padding-block: 4px;
}

.outputField input {
  background-color: inherit;
  box-shadow: 0px 2px 2px -2px black;
  border-radius: 0px;
}
