* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

body {
  background-color: #79a3a5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 300px;
  background-color: #9ab9b9;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#timer {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 4px;
}

#btns {
  display: flex;
  gap: 20px;
}

#btns button {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

#btns button:hover {
  filter: brightness(85%);
}

#btns button:active {
  scale: 0.96;
}

#playStope {
  background-color: #2caa2c;
}

#reset {
  background-color: rgb(201, 77, 77);
}
