@use "mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@include resetElements;

:root {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
    min-height: 100dvh;
    position: relative;
    background-color: #F5F7F8;
}

/* ---------------------------- */

.notifications-wrapper {
    position: absolute;
    top: 10%;
    height: 70vh;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .3s;


    .noty {
        position: relative;
        padding-block: 18px;
        padding-inline: 15px 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background-color: white;
        border-radius: 4px 4px 0 0;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.329);
        transition: .3s;
        transform: translateX(calc(100% + 10px));
        margin-bottom: 10px;

        .icon,
        .closeNotification {
            font-size: 18px;
            display: flex;
            align-items: center;
        }

        .closeNotification {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-size: 14px;
            cursor: pointer;
            transition: .3s;
        }

        .timeout {
            position: absolute;
            height: 2px;
            background-color: purple;
            left: 0;
            bottom: 0;
            transition: .3s;
            width: 100%;
            animation: decreasingWidth 8s linear both;
        }
    }
}

.btns {
    width: fit-content;
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    * {
        display: block;
        width: 100%;
        padding: 6px;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #eee;
        transition: .3s;

        &:hover {
            filter: brightness(80%);
        }
    }
}

@keyframes decreasingWidth {
    100% {
        width: 0%;
    }
}